.user-friends {
    padding: 15vh;
    width: 20vw;
    background-color: rgb(95, 95, 95);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.648);
}

.friends-list {
    max-height: 150px; 
    width: 20vw;
    overflow-y: auto;
    padding: 20px;
}

.friend-item {
    padding: 12px;
    border-bottom: 2px 2px solid #ddd;
    border-top: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-actions {
    display: flex; /* This makes the buttons appear side by side */
    gap: 2px; /* This adds space between the buttons */
    align-items: center;
}

.no-friends, .no-requests {
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.remove-friend-btn {
    padding: 8px 16px;
    width: 4vw;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-friend-btn:hover {
    background-color: #ff0000;
    box-shadow: 0 0 30px #dfdfdf;
  }

.message-friend-btn {
    padding: 8px 16px;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-currency-btn {
    padding: 8px 16px;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}