.chatscreen {
    flex: 1;
    border-left: 2px solid rgb(255, 255, 255);

    .top {
        padding: 2vh;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #696969;
          
        .back-button {
        display: flex;
        align-items: center;
        background-color: #006eff;
        border: none;
        cursor: pointer;
        width: auto;
        padding: 8px;
        border-radius: 5px;
        }
        
        .back-icon {
        margin-right: 5px;
        }       
        
        .user-logo {
          width: 30px;
          height: 30px;
          min-width: 20px;
          margin: 0 12px;
        }
    }

    .middle {
        display: flex;
        flex-direction: column;
        height: 42vh;
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        margin-bottom: 8vh;
        gap: 15px;

        .message-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
          }
          
          .message-container.sent {
            align-items: flex-end;
          }
          
          .message-bubble {
            max-width: 70%;
            padding: 10px;
            border-radius: 20px;
            word-wrap: break-word;
          }
          
          .received .message-bubble {
            max-width: 50%;
            align-self: flex-start;
            display: flex;
            flex: 0.5;
            flex-direction: column;
            gap: 5px;
            background-color: #6c6c6c;
          }
          
          .sent .message-bubble {
            max-width: 50%;
            align-self: flex-end;
            display: flex;
            flex: 0.5;
            flex-direction: column;
            gap: 5px;
            background-color: #50389e;
          }
          
        .message-timestamp {
            font-size: 0.8em;
            color: #888;
            margin-top: 0.2vh;
        }

        .loading-messages, .no-messages {
            text-align: center;
            padding: 20px;
            color: #666;
        }

    }

    .bottom {
        padding: 20px; 
        bottom: 10vh;
        position: relative;
        display: flex;
        align-items: center;

        .send-button {
            width: 5vw;
            flex: 1;
            justify-content: center;
        }
    }
}