/* General container */
.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0e0b16;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar styling */
.sidebar {
  width: 20vw;
  background-color: #111;
  padding: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.team-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.username {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.currency {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.currency-icon {
  color: green;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.currency-value {
  color: green;
}

/* Sidebar buttons */
.sidebar-button {
  background-color: #1E90FF;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-button:hover {
  background-color: #00FFFF;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.central-image {
  margin-bottom: 2rem;
}

.central-dice {
  width: 150px; /* Increase the size */
  height: 150px; /* Same size for width and height */
  color: white;
  animation: dice-spin 2s infinite;
}

@keyframes dice-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main buttons */
.main-options {
  display: flex;
  gap: 2rem;
}

.main-button {
  background-color: #1E90FF;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-button:hover {
  background-color: #00FFFF;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}
