.friend-requests {
    flex: 1;
    border-left: 2px solid white;
}

.requests-list {
    margin-top: 15px;
    overflow-y: auto;
}

.request-item {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.request-buttons {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.accept-button {
    padding: 8px 16px;
    width: 4vw;
    background-color: #68ff5a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #68ff5a;
    box-shadow: 0 0 15px #dfdfdf;
  }

.decline-button {
    padding: 8px 16px;
    width: 4vw;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.decline-button:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px #dfdfdf;
  }